.day-end-page {
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  &__container {
    background-image: url("../../assets/end-day-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    width: 1366px;
    height: 670px;
    z-index: 20;
    padding-top: 50px;

    h1,
    h2 {
      margin: 0;
      text-align: center;
      margin-bottom: 10px;
    }

    &__ornament {
      background-image: url("../../assets/ornamentos1.png");
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1366px;
      height: 60px;
      color: white;
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__bottom-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      &__paper {
        background-color: transparent;
        background-image: url("../../assets/ornamentos2.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 666px;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
          margin-bottom: 15px;
        }
      }

      &__button {
        background-color: transparent;
        background-image: url("../../assets/btn-small.png");
        background-repeat: no-repeat;
        background-size: contain;
        color: white;
        height: 90px;
        width: 250px;
        border: 0;
        padding: 0;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }
    }
  }
}
