.background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &.day-0 {
    background-image: url(../../assets/backgrounds/background-0.jpg);
  }

  &.day-1 {
    background-image: url(../../assets/backgrounds/background-1.jpg);
  }

  &.day-2 {
    background-image: url(../../assets/backgrounds/background-2.jpg);
  }

  &.day-3 {
    background-image: url(../../assets/backgrounds/background-3.jpg);
  }

  &.day-4 {
    background-image: url(../../assets/backgrounds/background-4.jpg);
  }

  &.day-5 {
    background-image: url(../../assets/backgrounds/background-5.jpg);
  }
}
